.aboutColumn {
  padding-right: 1.75rem;
}

.aboutLine {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: linear-gradient(
    180deg,
    #f5e6a8 0%,
    #d4af37 55%,
    #b8962e 100%
  );
  opacity: 0.85;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 20%,
    100% 80%,
    80% 90%,
    50% 100%,
    20% 90%,
    0 80%,
    0 20%,
    20% 10%
  );
  mask-image: linear-gradient(
    180deg,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.qualityColumn {
  padding-inline: 0;
}

.qualityLine {
  display: block;
  align-self: stretch;
  height: 100%;
  width: 3px;
  background: linear-gradient(
    180deg,
    #f5e6a8 0%,
    #d4af37 55%,
    #b8962e 100%
  );
  opacity: 0.85;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 20%,
    100% 80%,
    80% 90%,
    50% 100%,
    20% 90%,
    0 80%,
    0 20%,
    20% 10%
  );
  mask-image: linear-gradient(
    180deg,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.qualityBody {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  column-gap: 1.75rem;
  align-items: stretch;
}

.qualityLineLeft {
  justify-self: start;
}

.qualityLineRight {
  justify-self: end;
}

@media (max-width: 767px) {
  .aboutColumn {
    padding-left: 0;
  }

  .aboutLine {
    display: none;
  }

  .qualityColumn {
    padding-inline: 0;
  }

  .qualityLine {
    display: none;
  }

  .qualityBody {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
